[user]
	email = 6373447+roguh@users.noreply.github.com
	name = Hugo Rivera

[credential]
	helper = cache --timeout=3600

[diff]
	tool = icdiff
    external = gitdiff.sh 

[color]
	pager = false

[merge]
	tool = meld

[core]
	editor = vim
