[user]
email = felina@felina.art
name = Felina A. Rivera Calzadillas
signingkey = 516D39C29BEFC3F95B5A532EE1B10F13AB63EFED

[commit]
gpgsign = true

[credential]
helper = cache --timeout=3600

[difftool]
prompt = false

[difftool "meld"]
cmd = meld "$LOCAL" "$REMOTE"

[color]
pager = false

[merge]
tool = meld

[core]
editor = /usr/bin/vis
packedgitlimit = 512m
packedgitwindowsize = 512m

[pack]
deltacachesize = 2047m
packsizelimit = 2047m
windowmemory = 2047m

[pull]
rebase = false

[init]
templatedir = ~/.git-template

[mergetool]
keepbackup = false

[alias]
praise = blame
er-done = commit

[http]
postbuffer = 157286400

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[diff "gds_diff"]
command = python -m gdsfactory.gdsdiff.gds_diff_git
binary = True

