mk_alias em "emacs -nw"
mk_alias emc "emacsclient -nw --alternate-editor=''"
mk_alias mv "mv -i"
mk_alias cp "cp -i"
mk_alias rm "rm -i"
mk_alias please sudo

mk_alias l "ls -Fa --group-directories-first --sort=extension --color=auto" 
mk_alias ll "ls -lh -Fa --group-directories-first --sort=extension --color=auto"

mk_alias unison $HOME/bin/unison

mk_alias v vim vi vis nvim nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe'
mk_alias e zathura evince mupdf mupdf-x11
