[submodule "external/bash-sensible"]
	path = external/bash-sensible
	url = https://github.com/mrzool/bash-sensible
  branch = master
[submodule "external/commacd"]
	path = external/commacd
	url = https://github.com/shyiko/commacd
  branch = master
[submodule "external/rsync-for-src.sh"]
	path = external/rsync-for-src.sh
	url = https://github.com/roguh/rsync-for-src.sh
[submodule "external/gocryptfs.sh"]
	path = external/gocryptfs.sh
	url = https://github.com/roguh/gocryptfs.sh
[submodule "external/gp"]
	path = external/gp
	url = https://github.com/roguh/gp
