[submodule "external/bash-sensible"]
	path = external/bash-sensible
	url = https://github.com/mrzool/bash-sensible
[submodule "external/commacd"]
	path = external/commacd
	url = https://github.com/shyiko/commacd
[submodule "external/nord-gnome-terminal"]
	path = external/nord-gnome-terminal
	url = https://github.com/arcticicestudio/nord-gnome-terminal
