[user]
	email = hugo@roguh.com
	name = Hugo O. Rivera
	signingkey = 5CFA7DF4F48FCD32E435BFFFF5BE5A5F60836F8B

[credential]
	helper = cache --timeout=3600

# [diff]
#   tool = icdiff
#   external = gitdiff.sh

[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[color]
	pager = false

[merge]
	tool = meld

[core]
	editor = /usr/bin/nvim

[pull]
	rebase = false
[init]
	templateDir = /home/roguh/.git-template
[commit]
	gpgsign = true
[mergetool]
	keepBackup = false
[alias]
	# Be nice, you cunt
	praise = blame
