tryalias em 'emacs -nw'
tryalias emc 'emacsclient -nw --alternate-editor='''
tryalias mv 'mv -i'
tryalias cp 'cp -i'
tryalias rm 'rm -i'
tryalias please sudo

tryalias c ccat
tryalias exa 'exa --git'
tryalias ls exa ls
tryalias l 'ls -Fa'
tryalias ll 'l -lh'
tryalias grep 'grep --color -n'
tryalias gzip pigz gzip

tryalias trizen 'trizen --flip-results=1'
tryalias yaourt trizen yaourt

tryalias py python3 python python2
tryalias ipy ipython3 ipython ipython2

tryalias v vim vis nvim vim vi nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe'
tryalias e 'zathura --fork' evince mupdf mupdf-x11 'wine READER10.exe'
tryalias sx 'exec startx'
