mk_alias em 'emacs -nw'
mk_alias emc 'emacsclient -nw --alternate-editor='''
mk_alias mv 'mv -i'
mk_alias cp 'cp -i'
mk_alias rm 'rm -i'
mk_alias please sudo

mk_alias cat ccat cat
mk_alias c cat
mk_alias ls exa ls
mk_alias l 'ls -Fa'
mk_alias ll 'l -lh'
mk_alias grep 'grep --color -n'
mk_alias gzip pigz gzip

mk_alias yaourt 'trizen --flip-results=1' yaourt

mk_alias py python3 python python2
mk_alias ipy ipython3 ipython ipython2

mk_alias v vis nvim vim vi nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe'
mk_alias e 'zathura --fork' evince mupdf mupdf-x11 'wine READER10.exe'
mk_alias sx 'exec startx'
