mk_alias em "emacs -nw"
mk_alias emc "emacsclient -nw --alternate-editor=''"
mk_alias mv "mv -i"
mk_alias cp "cp -i"
mk_alias rm "rm -i"
mk_alias please sudo

mk_alias l "ls -Fa --color=none"
mk_alias ll "l -lh"

mk_alias v vis nvim vi vim nano ed libreoffice openoffice 'wine MicrosoftOffice2003.exe'
mk_alias e zathura evince mupdf mupdf-x11 'wine READER10.exe'
