[user]
	email = hugo@roguh.com
	name = Hugo O. Rivera
	signingkey = 57B21CCABBEA3EDD849C7ED087D9AF822A1A7EF9

[credential]
	helper = cache --timeout=3600

# [diff]
#   tool = icdiff
#   external = gitdiff.sh 

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[color]
	pager = false

[merge]
	tool = meld

[core]
	editor = /usr/bin/nvim
	packedGitLimit = 512m 
  packedGitWindowSize = 512m

[pack]
	deltaCacheSize = 2047m 
  packSizeLimit = 2047m 
  windowMemory = 2047m

[pull]
	rebase = false

[init]
	templateDir = /home/hugo/.git-template

[commit]
	gpgsign = true

[mergetool]
	keepBackup = false
[alias]
	praise = blame
	er-done = commit
[http]
	postBuffer = 157286400
