[user]
	email = hugo@roguh.com
	name = Hugo O. Rivera
	signingkey = 57B21CCABBEA3EDD849C7ED087D9AF822A1A7EF9

[credential]
	helper = cache --timeout=3600

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[color]
	pager = false

[merge]
	tool = meld

[core]
	editor = vim

[pull]
	rebase = false

[init]
	templateDir = /home/hugo/.git-template

[commit]
	gpgsign = true
