[user]
	email = hugo@roguh.com
	name = Hugo O. Rivera
# signingkey = 24DF8D014261AEF7B338DD3E595198EE68DB61E1

[credential]
	helper = cache --timeout=3600

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[color]
	pager = false

[merge]
	tool = meld

[core]
	editor = vim

[pull]
	rebase = false

[init]
	templateDir = /home/hugo/.git-template

[commit]
	gpgsign = true
